<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mendybot.commander.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.movie.ScheduleMoviesActivity"
            android:label="@string/title_activity_schedule_movies"
            />
        <activity android:name=".activity.tv.ScheduleSeriesActivity"
            android:label="@string/title_activity_schedule_tv_shows"
            />
        <activity android:name=".activity.tv.ScheduleShowActivity"
            android:label="@string/title_activity_schedule_tv_shows"
            />
        <activity android:name=".activity.music.ScheduleMusicAlbumActivity"
            android:label="@string/title_activity_schedule_music"
            />
        <activity android:name=".activity.music.ScheduleMusicTrackActivity"
            android:label="@string/title_activity_schedule_music"
            />
        <activity android:name=".activity.command.VideoCommandsActivity"
            android:label="@string/title_activity_video_commands"
            />
        <activity android:name=".activity.command.AudioCommandsActivity"
            android:label="@string/title_activity_audio_commands"
            />
        <activity
            android:name=".activity.CommanderActivity"
            android:label="@string/title_activity_commander"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".provider.MediaProvider"
            android:authorities="@string/content_authority_media_locker"
            android:exported="false"/>
    </application>

</manifest>